/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root
{
    --blue: #1B9AAA;
    --bone: #ECE2D0;
}

*{
	margin: 0;
	border: 0;
}
body{
	background-color: var(--blue);
	font-family: 'Ubuntu', sans-serif;
}

.swal2-styled.swal2-confirm{
	color: var(--blue) !important;
}
/******************************************* TITLE **************************************/
.drumTitle{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bone);
	font-size: 30px;
}

/*************************************** MODAL WELCOME **********************************/
.modalWelcome{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}
.modalCenter{
	width: 50%;
	height: 40vh;
	color: var(--blue);
	background-color: var(--bone);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.modalCenter h3{
	margin: 20px;
	font-size: 15px;
}
.modalCenter div{
	background-color: var(--blue);
	color: var(--bone);
	width: 100px;
	height: 30px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.modalCenter div:hover{
	cursor: pointer;
	filter: brightness(0.95);
}

/************************************* NUM INSTRUMENTS *******************************/
.drumUserInfo{
	width: 100%;
	height: 90vh;
	background-color: var(--bone);
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	position: fixed;
}
.drumUserInfo label{
	font-size: 20px;
	color: var(--blue);
	font-weight: bold;
}
.drumUserInfo input{
	width: 220px;
	height: 25px;
	margin: 10px 0 20px 0;
	background-color:var(--blue);
	border-radius: 10px;
	padding: 0px 15px;
	color: var(--bone);
}
.drumUserInfo input[type=text] {
	width: 150px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-color: 1px solid black;
}
.drumUserInfo div{
	width: 220px;
	height: 30px;
	border-radius: 10px;
	margin: 20px 0;
	background-color:var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bone);
}
.drumUserInfo div:hover{
	cursor: pointer;
	filter: brightness(0.95);
}

/************************************* CHOICE INSTRUMENTS *******************************/
.drumsUserChoice{
	width: 100%;
	height: 90vh;
	background-color: var(--bone);
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
}
.drumInstrumentChoice select{
	width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
	color: var(--bone);
	background-color: var(--blue);
    background-position-x: 244px;
	margin: 20px 0px;
	border-right: 10px solid transparent
}
.okInstrumentChoices{
	width: 100px;
	height: 30px;
	border-radius: 10px;
	margin: 20px 0;
	background-color:var(--blue);
	color: var(--bone);
	display: flex;
	justify-content: center;
	align-items: center;
}
.okInstrumentChoices:hover{
	cursor: pointer;
	filter: brightness(0.95);
}

/************************************ DRUM MACHINE CONTAINER *******************************/
.drumContainer{
	width: 100%;
	height: 80vh;
	background-color:var(--bone);
	display: none;
	justify-content:center;
	flex-direction: column;
	align-items: center;
}

.drumLine{
	width: 90%;
	height: 10vh;
	background-color:var(--blue);
	border: 1px solid black;
	display: grid;
	grid-template-columns: 10% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6%;
	align-items:center;
	margin: 5px 0;
}
.drumInstrument{
	display: flex;
	justify-content:center;
	align-items:center;
	color: var(--bone);
}
.drumPad{
	width: 50px;
	height: 50px;
	margin: 0px 10px;

	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.65),
              	inset 0px 0px 0px 2px rgba(255, 255, 255, 0.035),
              	inset 0px 5px 20px -10px rgba(255, 255, 255, 0.25),
              	inset 0px -5px 20px -10px black;
}
.drumPad:hover{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.4);
}
.drumPad-active{
	background: #FF7B5F;
	width: calc(400% + 22px);
	height: calc(100% + 0px);
}
.show{
	display: block;
}
.hide{
	display: none;
}
.playPause{
	width: 90%;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}
.play, .pause{
	width: 35px;
	height: 35px;
	filter: brightness(0) saturate(100%) invert(45%) sepia(49%) saturate(3062%) hue-rotate(155deg) brightness(93%) contrast(79%);
}
.play:hover, .pause:hover{
	cursor: pointer;
	filter: brightness(0) saturate(100%) invert(17%) sepia(87%) saturate(3460%) hue-rotate(173deg) brightness(95%) contrast(101%);
}
.drumBPM{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	width: 15%;
}
.drumBPM h2{
	margin-bottom: 20px;
	color: var(--blue);
}
.drumBPM-slider{
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 5px; /* Specified height */
	background: var(--blue); /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}
.drumBPM-slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 18px; /* Set a specific slider handle width */
	height: 18px; /* Slider handle height */
	background: var(--blue); /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 20px;
}
.stepFollow{
	width: 90%;
	height: 20px;
	margin: 20px 0;
	display: grid;
	grid-template-columns: 10% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6% 5.6%;
}
.step{
	width: 50px;
    height: 20px;
    margin: 0px 10px;
	border: 1px solid black;
	background-color:var(--blue);
}

/**************************************************** PRESETS *******************************************/
.presets{
	width: 100%;
    height: 10vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center
}
.presets select{
	width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
	color: var(--blue);
	background-color: var(--bone);
    background-position-x: 244px;
	margin: 20px 0px;
	border-right: 10px solid transparent
}